<div class="container text-center ">
    <img src=".\pews-logo.png">
</div>

<div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
            <i class="fab fa-youtube fa-10x" ></i>
        </div>
        <div class="col-sm-6">
            <h3>THE MOST SUBSCRIBED CHANEL</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quibusdam dolorum, reprehenderit, quas, voluptate temporibus nemo autem quisquam ex unde officia. Eius nobis necessitatibus ducimus? Incidunt beatae necessitatibus eius ipsam!</p>
        </div>

    </div>
</div>